header {
  text-align: center;
  padding: 20px;
  margin-top: 1%;
  font-size: 1.0rem;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.nextButton {
  margin-top: 10px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  color: white;
}

.menu {
  display: flex;
  list-style: none;
  opacity: 0.75;
  padding: 1vh;
  background-color: white; /* Background color for the rounded rectangle */
  border-radius: 50%; /* Border radius for the rounded rectangle */
}

.menuItem {
  cursor: pointer;
  margin: 0 10px;
  /* background-color: #3498db; */
  background-color: black;
  opacity: 0.9;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  transition: width 0.3s ease-in-out;
}

.menuItem.active {
  width: 40px;
}

.sideways-text {
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%) rotate(-90deg);
  white-space: nowrap;
  font-size: 14px; 
  color: #000; 
}

#details {
  top: 0;
  left: 0;
  width: 150px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
}

#workExperience {
  position: absolute;
  transform: translate(+50%, -10%);
  width: 50vw;
  height: 100vh;
  max-height: 100vh;
  overflow: visible;
  border: 0px solid #333;
}

.workMetaDetails {
  position: relative;
  height: 30%;
  top: 50%;
  left: 0;
  width: 100%;
  color: black;
  overflow: hidden;
  /* border: 1px solid #333; */
  font-size: 16px; 
}

.workMetaDetails:hover {
  overflow-y: auto;
}

#workVideoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

#workExperience video {
  top: 10%;
  width: 100%;
  border-radius: 50%;
  height: 40%;
  object-fit: cover;
}

#companyName {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#companyLogo{
  position: relative;
  top: 0;
  left: 0;
  width: 12%;
  height: auto;
  opacity: 0.85;
  aspect-ratio: 9 / 9;
  border-radius: 5%;
}

#workDetailsOverlay{
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

#projectExperience {
  position: absolute;
  transform: translate(+50%, -30%);
  width: 50vw;
  height: 40vw; 
  max-height: 40vh; 
  overflow: visible;
  border: 0px solid #333;
}

.projectMetaDetails {
  position: absolute;
  top: -4%;
  left: 55%;
  width: 45%;
  height: 35vh;
  max-height: 35vh;
  color: black;
  overflow: hidden;
  /* border: 1px solid #333; */
  font-size: 16px;
}

.projectMetaDetails:hover {
  overflow-y: auto;
}

#projectName {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a drop shadow to the text */
}

#projectExperience video {
  width: 50%;
  height: 80%;
  object-fit: cover;
}

#projectsVideoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; 
  text-align: center;
}

#projectDetailsOverlay{
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

#parentTemp {
position: relative;

}
#aboutMe {
  position: absolute;
  transform: translate(+50%, -40%);
  width: 50vw;
  height: 40vh; 
  max-height: 40vh; 
  overflow: visible;
  border: 0px solid #333;
}

.aboutMeMetaDetails {
  position: absolute;
  top: -4%;
  left: 55%;
  width: 45%;
  height: 35vh;
  max-height: 35vh;
  color: black;
  overflow: hidden;
  /* border: 1px solid #333; */
  font-size: 16px;
}

.aboutMeMetaDetails:hover {
  overflow-y: auto;
}

#aboutMeDetailsOverlay{
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

#aboutMeVideoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; 
  text-align: center;
}

#aboutMe video {
  width: 50%;
  height: 80%;
  object-fit: cover;
}

#aboutMeImageOverlay1 {
  position: absolute;
  top: -200%;
  left: 82%;
  width: 30%;
  height: 96%;
  background: url('assets/profile_pic_2.jpeg') center center no-repeat;
  background-size: cover;
  opacity: 0.9;
  padding: 10px;
}


#aboutMeImageOverlay2 {
  position: absolute;
  top: -10%;
  left: -19%;
  width: 25%;
  height: 81%;
  background: url('assets/profile_pic_3.jpeg') center center no-repeat;
  background-size: cover;
  opacity: 0.9;
  padding: 10px;
}

#aboutMeImageOverlay3 {
  position: absolute;
  top: 18%;
  left: -26%;
  width: 37%;
  height: 25%;
  background: url('assets/Untitled_Artwork.png') center center no-repeat;
  background-size: cover;
  opacity: 0.92;
}

#aboutMeImageOverlay4 {
  position: absolute;
  top: -28%;
  left: 203%;
  width: 60%;
  height: 94%;
  opacity: 0.81;
  background: url('assets/profile_pic_4.jpeg') center center no-repeat;
  background-size: cover;
  color:black;
  padding: 10px;
}

/* #aboutMeImageOverlay5 {
  position: absolute;
  bottom: -15%;
  left: 40%;
  width: 50%;
  height: 50%;
  background: url('assets/Olive.png') center center no-repeat;
  background-size: cover;
  opacity: 1;
} */

.linkedin-icon {
  position: fixed;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
}

.github-icon {
  position: fixed;
  left: 10px; 
  top: 54%;
  transform: translateY(-30%);
}
